
body {
    background-color: #FFE7FF;
    margin: 0;
}

.nav-bar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;    
    height: 50px;
    background-color: #AF699C;
    display: flex;
}

.nav-button, .thumbnail-div, .thumbnail-undertext, .player-name-con, .player-container, #playertext-con, .tourney{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#playertext-con {
    width: 80%;
    height: 600px;
    margin-top: 100px;
    text-align: center;
    flex-direction: column;
}

.nav-button {
    width: 17%;
    height: 100%;
}

.nav-hover:hover {
    background-color: #9E568A;
}

.nav-clicked {
    background-color: #834772;
}

.bold {
    font-weight: bold;
}

p, li {
    font-family: "RegularText";
}

h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "NavBarFont";
}

a {
    text-decoration: none;
}

li {
    font-size: 2.75rem;
    margin: 0 150px 30px 0;
}

@font-face {
    font-family: "NavBarFont";
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: "RegularText";
    src: url(Dhyana\ Regular.ttf);
}

@font-face {
    font-family: "TitleText";
    src: url(OpenSans-Regular.ttf);
}

#pippi-img {
    width: 25%;

    position: fixed;
    bottom: -15;
    right: 0;
    z-index: 1; 
}

#homeText-con {
    margin-top: 50px;
    width: 100%;
    min-height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#homeThumbnail-con {
    width: 55%;
    min-height: 650px;
    margin-left: 8%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnail-div {
    width: 500px;
    height: 275px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: red;
    overflow: hidden;
    position: relative;
}

.thumbnail, .thumbnail-undertext, .tourney {
    width: 100%;
}

.profile-pic, .tourney-info, .tourney-title {
    height: 100%;
}

.player-name-con {
    width: 325px;
}

.thumbnail-undertext {
    position: absolute;
    height: 50px;
    margin-top: 225px;
    background-color: #AF699C;
    opacity: 95%;
    overflow: hidden; 
}

.thumbnail-undertext, h3 {
    font-family: "TitleText";
    font-size: 2.25rem;
    color: white;
}

#osu-uvod {
    max-width: 45%;
    font-size: 2rem;
    margin-left: 8%;
}

.player-container {
    width: 100%;
    height: 75px;
    background-color: #100114;
    margin-top: 35px;
    border-radius: 25px;
    overflow: hidden;
}

#players-con {
    width: 400px;
    height: 80%;
    margin-left: 2.5%;
    margin-top: 75px;
}

#title, .title-text {
    color: black;
}

#playerInfo {
    font-size: 1.5rem;
    max-width: 50%;
}

.tournaments-con {
    width: 80%;
    min-height: 81%;
    margin: 100px 0 0 10%;
}

.tourney {
    height: 100px;
    margin-top: 35px;
}

.tourney-info {
    min-width: 20%;
    background-color: #100114;
}

.tourney-title {
    min-width: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.tourney-image {
    width: 100%;
    height: 100%;
    opacity: 15%; 
    object-fit: cover;
}

.title-text {
    position: absolute;
    margin: 0;
    top: 10;
    font-size: 1.75rem;
}

.title-spodni {
    top: 50;
}

footer {
    background-color: #333333;
    padding: 1em 0; 
    margin-top: 2em; 
}

#footer {
    margin: 0 0 0 10px;
    color: white;
    font-size: 1rem;
}

.info-text {
    color: white;
    margin: 5px 0 0 10px;
    font-family: "RegularText";
    font-size: 1rem;
}

@media screen and (max-width: 1440px) {
    .nav-button {
        width: 25%;
    }

    li{
        font-size: 2rem;
    }
    
    #osu-uvod, h3 {
        font-size: 1.25rem;
    }

    #homeThumbnail-con {
        width: 80%;
        margin-left: 3%;
    }

    .title-text {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 1rem;
    } 
    .nav-bar, .nav-button, .nav-clicked{
        height: 50px;
    }
   .thumbnail-div {
        height: 165px;
   }
   #homeThumbnail-con {
        width: 80%;
        height: 100%;
   }
    .thumbnail, .thumbnail-undertext, .thumbnail-div{
        width: 300px;
    }
    .thumbnail-undertext {
        margin-top: 130px;
        height: 35px;
        font-size: 1.25rem;
    }
    #homeText-con {
        flex-direction: column;
    }
    #osu-uvod {
        max-width: 100%;
    }

    .tourney-info {
        width: 100%;
        height: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tourney-title {
        width: 100%;
    }
    
    .tourney {
        flex-direction: column;
        height: 200px;
    }
}

@media screen and (max-width: 475px) {
    .info-text {
        font-size: 0.75rem;
    }

    .title-text {
        font-size: 0.85rem;
    }
}